<div id="home">
  <h1>Would You Rather</h1>

  <% @choices.order(created_at: :desc).each do |choice| %>
    <h3>Would you rather?</h3>
    <p><%= link_to "#{choice.option_a}, (Votes: #{choice.vote_a})", choice_path(choice, :vote_a => "a"), class: 'btn-lg btn-success', method: "patch" %>
      OR
      <%= link_to "#{choice.option_b}, (Votes: #{choice.vote_b})", choice_path(choice, :vote_b => "b"), class: 'btn-lg btn-info', method: "patch" %>
    </p>
    <div id="chart-1" style="height: 100px; width: 200px;">
      <%= bar_chart [{name: choice.option_a, data: Choice.where(id: choice.id).group(:option_a).sum(:vote_a)}, {name: choice.option_a, data: Choice.where(id: choice.id).group(:option_b).sum(:vote_b)}] %>
    </div>
    <% if choice.comments.any? %>
      <ul>
        <% choice.comments.each do |comment| %>
          <li><%= comment.content %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No comments yet!</p>
    <% end %>

    <%= link_to "Add Comment", new_choice_comment_path(choice), id: "new_comment_link_#{choice.id}", class: 'new_comment_link btn-sm btn-danger', remote: true %>
  <%end %>


  <hr>
  <%= link_to "Add Choice", new_choice_path, id: 'new_choice_link', remote: true, class: 'btn-lg btn-warning' %>
</div>
