<!DOCTYPE html>
<html>
<head>
  <title>WouldYouRather</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>
<body>
  <div class='navbar navbar-default navbar-fixed-bottom'>
    <%= yield(:navbar) %>
    <a class="navbar-brand" href="/">Home</a>
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li><%= link_to "Log Out #{current_user.email}", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><a href="/users/sign_in">Log In</a></li>
          <li><a href="/users/sign_up">Sign Up</a></li>
        <% end %>
      <ul>
  </div>
<div class="container">

 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>


  <%= yield :charts_js %>
  <%= yield %>


</div>
</body>
</html>
